APP_NAME=Unified Charity Platform API
ENVIRONMENT=local

SQL_SERVER_DRIVER=ODBC Driver 17 for SQL Server
SQL_SERVER_HOST=localhost
SQL_SERVER_PORT=1433
SQL_SERVER_DATABASE=unified_charity_platform_clean
SQL_SERVER_USER=charity_app_user
SQL_SERVER_PASSWORD=ChangeMe_StrongPassword_2026!
SQL_SERVER_TRUSTED_CONNECTION=false
SQL_SERVER_TRUST_SERVER_CERTIFICATE=true

MINIO_ENDPOINT_URL=http://localhost:9000
MINIO_PUBLIC_ENDPOINT_URL=http://localhost:9000
MINIO_ACCESS_KEY=ChangeMe_MinIO_2026!
MINIO_SECRET_KEY=ChangeMe_MinIO_2026!
MINIO_BUCKET_NAME=charity-documents
MINIO_REGION=us-east-1
MINIO_PRESIGNED_EXPIRY_SECONDS=3600

KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC_DONATIONS=charity.online_donations
KAFKA_TOPIC_APPLICATIONS=charity.beneficiary_applications
KAFKA_TOPIC_INVENTORY=charity.inventory_transactions

